.task-container {
  width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.task-container > h2 {
  text-align: center;
  margin: 20px;
  font-size: 40px;
}

.task-input {
  height: 50px;
}
.task-app {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-categories {
  display: flex;
  justify-content: space-between;
}
.category {
  flex: 1;
}
